
body {
    background-color: #1D133C !important;
    color: white !important;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    background-color: #010B11;
    color: white;
}

.base-color {
    background-color: #042A45;
    color: white;
}

.footer {
    background-color: #010B11;
    color: #86A8CF;
}
.checked {
    color: #F6AE2D;
}
.card {
    background-color: #010B11 !important;
    color: white !important;
    cursor: pointer;
}
.border-purple {
    border: 1px solid #9173E5;
}
.heart {
    color: #D11AEF;
}
.fa-heart:hover {
    color: #D11AEF;
}
.login-card {
    background-color: #205376;
}


.truncated-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5; /* Number of lines to show */
}
.img-fluid {
    aspect-ratio: 3 / 4 !important;
    max-width: 14rem !important;
}
